**/target
**/bin
**/*.class
**/dependency-reduced-pom.xml
**/phantomjsdriver.log
**/.classpath
**/.project
DockerInstallation
OpenRobertaParent/RobotEV3/**/*.jar
OpenRobertaParent/OpenRobertaServer/userProjects/*
OpenRobertaParent/OpenRobertaServer/db-*
**/node_modules/
.settings/
.DS_Store
.*
.idea
*.iml
**/*.log
